{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
		<div class="col-md-12">
				<div class="col-md-12">
					<ul class="pagination"></ul>
				</div>
					{% for key,article in articles %}
						{% if key % 10 == 0 %}{% if key != 0 %}</div></span>{% endif %}<span class="article-group" id={{ key|number_format / 10 }}>{% endif %}
						{% if key % 2 == 0  %}{% if key != 0 and key % 10 != 0 %}</div>{% endif %}<div class="row">{% endif %}
						<span class="col-md-6">
							<div class="img-thumbnail">
								<span class="col-md-10">
									<h3><a href="{{ path('Article', {'id': article.id}) }}" >{{ article.title }}</a></h3>
								</span>
								{% if is_granted('ROLE_ADMIN') %}
									<span class="col-md-1">
										<div class="col-md-6"></div>
										<div class="col-md-6 btn-group">
											<a class="btn dropdown-toggle btn-default blue" data-toggle="dropdown" href="#">
												<span class="icon-cog icon-white"></span><span class="caret"></span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
												<li><a class="confirm-dialog" data-bb="confirm" href="#" value="{{ path('removeArticle', {'id': article.id}) }}"><span class="icon-trash"></span> Delete</a></li>
											</ul>
										</div>
									</span>
								{% endif %}
								<a href="{{ path('Article', {'id': article.id}) }}"><img src="/Symfony/web/upload/pictures/{{ article.image.title }}" class="img-responsive" alt="{{ article.image.title }}"></a><br/><br/>
								<p>{{ article.description }}</p>
								<p><b>Made by {{ article.autor }}</b></p>
							</div>
						</span>
					{% endfor %}
				</div>
			</span>
			<div class="col-md-12">
				<ul class="pagination"></ul>
			</div>
				<div class="controls-group col-md-12 img-thumbnail">
					<div class="controls">
						<form class="col-md-12 form" name="addArticle" method="post"  {{ form_enctype(form) }}>
							<center><h2>Add an article<h2/></center><br/>
							{{ form_widget(form) }}<br/>
							<button id="contact-submit" type="submit" class="btn btn-primary">Send</button>				
						</form>
					</div>
				</div>
	</div>
{% endblock %}