{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
				{% for key,article in articles %}
				  <li class="span6">
					<div class="thumbnail">
						<h3><a href="/Symfony/web/app_dev.php/article/{{ article.id }}" >Title test</a></h3>
						<img src="{{ asset('bundles/portfolioportfolio/pictures/Penguins.jpg') }}" data-src="data-src="holder.js/300x200" alt="Test"><br/>
						<p>{{ article.description }}</p>
						<a href="/Symfony/web/app_dev.php/article/{{ article.id }}" class="btn btn-primary">Display</a>
					</div>
				  </li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}