{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<center><h2>{{ article.title }}</h2><br/>
			<figure id="article_image"><img src="{{ asset('bundles/portfolioportfolio/pictures/Jellyfish.jpg') }}" alt="Test" /><figcaption>{{ article.description }}</figcaption></figure></center><br/>
			<p><b></b><br/>{{ article.content }}</p><br/>		
			<p>Created by <b>{{ article.autor }}</b> the <b>{{ article.date|date('d.m.Y') }}</b> at {{ article.date|date('H:i:s') }}</p><br/>
			<div class="panel panel-default widget">
				<div class="panel-heading">
					{% if article.comments is empty %}<h3 class="panel-title">Recent Comments</h3>
					{% else %}<h3 class="panel-title">No Comments</h3>{% endif %}
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{% for key,comment in article.comments %}
							{% if key % 5 == 0 %}{% if key != 0 %}</span>{% endif %}<span class="comment-group">{% endif %}
								<li class="list-group-item comments">
									<div class="row">
										<div class="col-xs-2 col-md-1">
											<img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
										<div class="col-xs-10 col-md-11">
											<div>
												<div class="mic-info">
													By: <a href="#">{{ comment.autor }}</a> the {{ comment.date|date("m.d.Y") }} at {{ comment.date|date("H:i:s") }}
												</div>
											</div>
											<div class="comment-text">
												{{ comment.content }}
											</div><br/>
											<div class="action">
												<button type="button" class="btn btn-primary btn-xs" title="Edit">
													<span class=""></span>
												</button>
												<button type="button" class="btn btn-success btn-xs" title="Approved">
													<span class=""></span>
												</button>
												<button type="button" class="btn btn-danger btn-xs" title="Delete">
													<span class=""></span>
												</button>
											</div>
										</div>
									</div>
								</li>
						{% endfor %}
						</span>
						<li class="list-group-item" id='show_comment'>
							
						</li>
						<li class="list-group-item" id="comment_form">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<form class="comment-text" method="post" {{ form_enctype(form) }}>
										<div class="controls-group col-md-10">
											<div class="controls">
												<!--<textarea id="content" name="content" class="form-control" placeholder="Add a comment" rows="5"></textarea><br/>-->
												{{ form_widget(form) }}<br/>
												<button id="contact-submit" type="submit" class="btn btn-primary">Send</button>												
											</div>
										</div>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<p></p>
		</div>
	</div>
{% endblock %}