{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
		<div class="span12">
			<ul class="thumbnails">
				<h2>Articles</h2>
				<div>
				{% for key,article in articles %}
					{% if key % 2 == 0  %}</div><div class="row-fluid">{% endif %}
					<li class="span6">
						<div class="thumbnail">
							<h3><a href="/Symfony/web/app_dev.php/article/{{ article.id }}" >{{ article.title }}</a></h3>
							<a href="/Symfony/web/app_dev.php/article/{{ article.id }}"><img src="{{ asset('bundles/portfolioportfolio/pictures/Penguins.jpg') }}" data-src="data-src="holder.js/300x200" alt="Test"></a><br/><br/>
							<p>{{ article.description }}</p>
							<p>Made by {{ article.autor }}</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
{% endblock %}