{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
		<div class=".col-md-12">
				<center><h2>Articles</h2></center><br/>
				<div>
				{% for key,article in articles %}
					{% if key % 2 == 0  %}</div><div class="row">{% endif %}
					<span class="col-md-6">
						<div class="img-thumbnail">
							<h3><a href="/Symfony/web/app_dev.php/article/{{ article.id }}" >{{ article.title }}</a></h3>
							<a href="/Symfony/web/app_dev.php/article/{{ article.id }}"><img src="{{ asset('bundles/portfolioportfolio/pictures/Jellyfish.jpg') }}" class="img-responsive" alt="Test"></a><br/><br/>
							<p>{{ article.description }}</p>
							<p><b>Made by {{ article.autor }}</b></p>
						</div>
					</span>
				{% endfor %}
		</div>
{% endblock %}