{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row" id="page_home">
	  <div class="span12">
		<div id="slides">
		  <img class="slider_img" src="{{ asset('bundles/portfolioportfolio/pictures/Penguins.jpg') }}" alt=
		  "Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/" />
		  <img class="slider_img" src="{{ asset('bundles/portfolioportfolio/pictures/Desert.jpg') }}" alt=
		  "Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/" />
		   <img class="slider_img" src="{{ asset('bundles/portfolioportfolio/pictures/JellyFish.jpg') }}" alt=
		  "Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/" />
		   <img class="slider_img" src="{{ asset('bundles/portfolioportfolio/pictures/a4.jpg') }}" alt=
		  "Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/" />
		   <a href="#" class="slidesjs-previous slidesjs-navigation"></a> <a href="#"
		  class="slidesjs-next slidesjs-navigation"></a>
		</div>
	  </div>
	</div>
{% endblock %}