{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12"><br/>
			{% for key,study in studies %}
				<div class="col-md-8 img-thumbnail">
					<div class="col-md-11">
						<h3>{{ study.title }}</h3>
						<h6>{{ study.enterprise }}</h6>
						<h6>{{ study.dates }}</h6>
						<h6><b><a href="https://{{ study.link }}">More... </a></b></h6>
					</div>	
					{% if is_granted('ROLE_ADMIN') %}
						<div class="col-md-1">
							<div class="btn-group">
								<a class="btn dropdown-toggle btn-default blue" data-toggle="dropdown" href="#">
									<span class="icon-cog icon-white"></span><span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
									<li><a class="confirm-dialog" data-bb="confirm" href="#" value="{{ path('removeStudy', {'id': study.id}) }}"><span class="icon-trash"></span> Delete</a></li>
								</ul>
							</div>
						</div>
					{% endif %}
				</div>
			{% endfor %}
			{% if is_granted('ROLE_ADMIN') %}
			<div class="col-md-8 img-thumbnail">
				<div class="col-md-12 controls-group">
					<form class="form" name="addStudy" method="post"  {{ form_enctype(form) }}>
						<center><h2>Add a study<h2/></center><br/>
						{{ form_widget(form) }}<br/>
						<button id="contact-submit" type="submit" class="btn btn-primary">Send</button>				
					</form>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}